  *{
    margin: 0;
    padding: 0;
  }
  .container {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  
  header {
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: rgb(255, 145, 0);
  }

  .left-side {
    grid-column: 1 / 2;
    background-color: blueviolet;
  }

  main {
    grid-column: 2 / 3;
    background-color: brown;
  }

  .right-side {
    grid-column: 3 / 4;
    background-color: blue;
  }

  footer {
    grid-column: 1 / 4;
  }